<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="font-bold">Taller de Aplicaciones 2</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="{{url_for('static',filename='dist/js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='dist/js/echarts.min.js')}}"></script>
</head>
<body>
  <div class="navbar min-h-min sticky z-[300] inset-x-0 top-0 shadow-lg bg-neutral text-neutral-content rounded-none ">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-sm btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral text-neutral-content rounded-box w-52">
          <li><a>Homepage</a></li>
          <li><a>Portfolio</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <p class="btn btn-ghost btn-sm normal-case text-xl">Dashboard 2</p>
    </div>
    <div class="navbar-end">
    </div>
  </div>

  <div class="hero-content w-full m-auto bg-white shadow-lg items-start block mt-1">
    <form class="w-full" id="form-predict">
      <div class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <input type="checkbox" checked /> 
        <div class="collapse-title text-xl font-medium">
          Características del edificio
        </div>
        <div class="collapse-content"> 
          <div class="flex flex-col w-full border-opacity-50">

            <div class="grid card rounded">
              <div class="flex flex-wrap items-center justify-center w-full mb-2">
                Cantidades de
              </div>
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
              
                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Estacionamientos de visita
                    </span>
                    <input predict name="N_ESTACIONAMIENTO_VISITA" type="number" min="0" value="0" placeholder="" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Quinchos
                    </span>
                    <input predict name="N_QUINCHOS" type="number" min="0" value="0" placeholder="" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Salas de Reuniones
                    </span>
                    <input predict name="N_SALAS_REUNIONES" type="number" min="0" value="0" placeholder="" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Bicicleteros
                    </span>
                    <input predict name="N_BICICLETERO" type="number" min="0" value="0" placeholder="" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Acensores
                    </span>
                    <input predict name="N_ACENSORES" type="number" min="0" value="2" placeholder="" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Estacionamientos
                    </span>
                    <input predict name="N_ESTACIONAMIENTOS" type="number" min="0" value="0" placeholder="" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Bodegas
                    </span>
                    <input predict name="N_BODEGA" type="number" min="0" value="0" placeholder="" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Departamentos
                    </span>
                    <input predict name="N_DEPTOS" type="number" min="0" value="16" placeholder="" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

              </div>
            </div>
            <div class="divider my-0"></div>
            <div class="grid card rounded">
              <div class="flex flex-wrap items-center justify-center w-full mb-2">
                Posee consumos de
              </div>
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
              
                <div class="form-control">
                  <label class="label cursor-pointer justify-start">
                    <input predict name="CONSUMO_AGUA_POTABLE" type="checkbox" class="toggle" checked />
                    <span class="label-text  ml-2">Agua potable</span> 
                  </label>
                </div>

                <div class="form-control">
                  <label class="label cursor-pointer justify-start">
                    <input predict name="CONSUMO_CALEFACCION" type="checkbox" class="toggle" />
                    <span class="label-text  ml-2">Calefacción</span> 
                  </label>
                </div>

                <div class="form-control">
                  <label class="label cursor-pointer justify-start">
                    <input predict name="CONSUMO_AGUA_CALIENTE" type="checkbox" class="toggle" />
                    <span class="label-text  ml-2">Agua caliente</span> 
                  </label>
                </div>

              </div>
            </div>
            <div class="divider my-0"></div>
            <div class="grid card rounded">
              <div class="flex flex-wrap items-center justify-center w-full mb-2">
                Otros
              </div>
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
              
                <div class="form-control w-full">
                  <label class="flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Entrega oficial
                    </span>
                    <input predict name="ENTREGA_OFICIAL" type="number" min="1900" value="1978" placeholder="info@site.com" class="input input-sm w-full input-bordered rounded-none rounded-br-lg rounded-bl-lg" />
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="w-full flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Dimension total entre los departamentos
                    </span>
                    <div class="w-full flex items-stretch">
                      <input predict name="M_TOTAL" type="number" step=any min="0" value="2058.82" class="input w-full input-sm isolate input-bordered rounded-none rounded-bl-lg" />
                      <span class="rounded-bl-none rounded-none rounded-br-lg flex px-4 bg-base-300 items-center">
                        m<sup>2</sup>
                      </span>
                    </div>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <input type="checkbox" checked /> 
        <div class="collapse-title text-xl font-medium">
          Características del departamento
        </div>
        <div class="collapse-content"> 
          <div class="flex flex-col w-full border-opacity-50">

            <div class="grid card rounded">
              <div class="flex flex-wrap items-center justify-center w-full mb-2">
                Valores de
              </div>
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
              
                <div class="form-control w-full">
                  <label class="w-full flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Prorrateo
                    </span>
                    <div class="w-full flex items-stretch">
                      <input predict name="PRORRATEO" type="number" step=any min="0" max="100" value="6.1200" class="input w-full input-sm isolate input-bordered rounded-none rounded-bl-lg" />
                      <span class="rounded-bl-none rounded-none rounded-br-lg flex px-4 bg-base-300 items-center">
                        %
                      </span>
                    </div>
                  </label>
                </div>

                <div class="form-control w-full">
                  <label class="w-full flex-col">
                    <span class="rounded-bl-none rounded-br-none rounded-lg flex px-4 bg-gray-200 items-center">
                      Promedio de gasto comun
                    </span>
                    <div class="w-full flex items-stretch">
                      <input predict name="GC_MEAN" type="number" step=any min="0" value="6.759391" class="input w-full input-sm isolate input-bordered rounded-none rounded-bl-lg" />
                      <span class="rounded-bl-none rounded-none rounded-br-lg flex px-4 bg-base-300 items-center">
                        UF
                      </span>
                    </div>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <button id="button-submit" type="submit" class="mt-3 btn flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded w-full" type="button">
        Predecir Gastos comunes
      </button>
    </form>
  </div>

  <div class="hidden loading"></div>

  <div id="cont-result" class="hidden hero-content w-full m-auto bg-white shadow-lg items-start block mt-1">

    <div class="tabs -mb-px">
      <button id="tab-clust-2" onclick="setTab(2)" class="tab tab-lifted tab-active">Doble Cluster</button> 
      <button id="tab-clust-1" onclick="setTab(1)" class="tab tab-lifted">Unico Cluster</button> 
    </div>

    <div id="cont-clust-2" class="rounded-b-box rounded-tr-box relative overflow-x-auto min-h-[6rem] w-full">
      <div class="border-base-300 rounded-b-box rounded-tr-box flex min-h-[6rem] flex-wrap items-center justify-center gap-2 overflow-x-hidden border bg-cover bg-top p-4 undefined w-full">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
          <div class="overflow-x-auto">
            <table class="table table-compact table-zebra w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Cluster Edificio</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr>
                  <td id="EDI_CLUSTER">1</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-compact table-zebra w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Cluster Departamento</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr>
                  <td id="DEP_CLUSTER">0</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-compact table-zebra w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Gasto común promedio</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr>
                  <td id="GC_MEAN">1233</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="overflow-x-auto">
            <table class="table table-compact table-zebra w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Mes</th>
                  <th>Gasto común promedio</th>
                </tr>
              </thead>
              <tbody id="TABLE_MONTH">
                <!-- row 1 -->
                <tr>
                  <td>Enero</td>
                  <td>100</td>
                </tr>
                <!-- row 2 -->
                <tr>
                  <td>Febrero</td>
                  <td>2.00</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="graf-clust-2" class="h-96 w-full"></div>
      </div>
    </div>

    <div id="cont-clust-1" class="hidden  rounded-b-box rounded-tr-box relative overflow-x-auto min-h-[6rem] w-full">
      <div class="border-base-300 rounded-b-box rounded-tr-box flex min-h-[6rem] flex-wrap items-center justify-center gap-2 overflow-x-hidden border bg-cover bg-top p-4 undefined w-full">

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
          <div class="overflow-x-auto">
            <table class="table table-compact table-zebra w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Cluster</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr>
                  <td id="EDI_DEP_CLUSTER">1</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-compact table-zebra w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Gasto común promedio</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr>
                  <td id="EDI_DEP_GC_MEAN">1233</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="overflow-x-auto">
            <table class="table table-compact table-zebra w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Mes</th>
                  <th>Gasto común promedio</th>
                </tr>
              </thead>
              <tbody id="EDI_DEP_TABLE_MONTH">
                <!-- row 1 -->
                <tr>
                  <td>Enero</td>
                  <td>100</td>
                </tr>
                <!-- row 2 -->
                <tr>
                  <td>Febrero</td>
                  <td>2.00</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td>Marzo</td>
                  <td>3</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="graf-clust-1" class="h-96 w-full"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    
    function setTab(num){
      let t1 = document.getElementById('tab-clust-1')
      let t2 = document.getElementById('tab-clust-2')

      let c1 = document.getElementById('cont-clust-1')
      let c2 = document.getElementById('cont-clust-2')

      if (num === 1){
        t1.classList.add("tab-active");
        t2.classList.remove("tab-active");

        c1.classList.remove("hidden");
        c2.classList.add("hidden");

        if(!!grafClust1){
          grafClust1.resize()
        }
      }
      else if (num === 2){
        t1.classList.remove("tab-active");
        t2.classList.add("tab-active");

        c1.classList.add("hidden");
        c2.classList.remove("hidden");

        if(!!grafClust2){
          grafClust2.resize()
        }

      }
    }
  </script>

  <script>
    // Example POST method implementation:
    async function postData(url = '', data = {}) {
      // Default options are marked with *
      const response = await fetch(url, {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, *cors, same-origin
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        credentials: 'same-origin', // include, *same-origin, omit
        headers: {
          'Content-Type': 'application/json'
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: 'follow', // manual, *follow, error
        referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data) // body data type must match "Content-Type" header
      });
      return response.json(); // parses JSON response into native JavaScript objects
    }

    function setLoading(){
      $('input[predict]',"#form-predict").each((i,e) => { e.disabled = true })
      document.getElementById('button-submit').disabled = true
      document.getElementById("button-submit").innerHTML = 'Prediciendo ...'
      document.getElementById("button-submit").classList.add("loading");
    }

    function endLoading(){
      $('input[predict]',"#form-predict").each((i,e) => { e.disabled = false })
      document.getElementById('button-submit').disabled = false
      document.getElementById("button-submit").innerHTML = 'Predecir Gastos comunes'
      document.getElementById("button-submit").classList.remove("loading");
    }

    function getInt(data, key){
      if (!data[key]){
        return 0
      }
      return parseInt(data[key])
    }
    function getFloat(data, key){
      if (!data[key]){
        return 0.0
      }
      return parseFloat(data[key])
    }

    function getBoolInt(data, key){
      if (!data[key]){
        return 0
      }
      return 1
    }

    function preprocessData(data){
      console.log({data})
      let out = {
        'EDI' : {
          'ENTREGA_OFICIAL' : getInt(data, 'ENTREGA_OFICIAL'),
          'N_ESPACIOS' : getInt(data, 'N_ESTACIONAMIENTO_VISITA') + getInt(data, 'N_QUINCHOS') + getInt(data, 'N_SALAS_REUNIONES') + getInt(data, 'N_BICICLETERO') + getInt(data, 'N_ACENSORES') + getInt(data, 'N_ESTACIONAMIENTOS') + getInt(data, 'N_BODEGA'),
          'N_DEPTOS' : getInt(data, 'N_DEPTOS'),
          'M_TOTAL' : getFloat(data, 'M_TOTAL'),
          'N_CONSUMO' : getBoolInt(data, 'CONSUMO_AGUA_POTABLE') + getBoolInt(data, 'CONSUMO_CALEFACCION') + getBoolInt(data, 'CONSUMO_AGUA_CALIENTE'),
        },
        'DEP' : {
          'PRORRATEO' : getFloat(data, 'PRORRATEO') / 100.0,
          'M_DEP' : getFloat(data, 'PRORRATEO') * getFloat(data, 'M_TOTAL') / 100.0,
          'GC_MEAN' : getFloat(data, 'GC_MEAN'),
        }
      }
      console.log({out})

      return out
    }

    function formatFloat(value){
      value = (!!value && value!='')? parseFloat(value).toFixed(3) + ' UF' : '---'
      return String(value).replace('.',',')
    }

    function getGcMean(data){
      if (!data){
        return 'Sin datos'
      }
      return formatFloat(data["('SUBTOTAL_GC', 'mean')"])
    }

    function getMonth(str){
      let trad = {'01':'Enero', '02':'Febrero', '03':'Marzo', '04':'Abril', '05':'Mayo', '06':'Junio', '07':'Julio', '08':'Agosto', '09': 'Septiembre', '10': 'Octubre', '11': 'Noviembre', '12': 'Diciembre'}
      return trad[str]
    }

    function processTableMonth(id, data){
      let tbody = document.getElementById(id)
      tbody.innerHTML = ''
      console.log({data})
      for (let e of data){
        let tr = document.createElement('tr')
        tr.innerHTML = `<td>${getMonth(e["('GC_MES', '')"])}</td><td>${formatFloat(e["('SUBTOTAL_GC', 'mean')"])}</td>`
        tbody.innerHTML += tr.outerHTML
      }
    }

    function processGraf(id, echartObject, data){
      let container = document.getElementById(id)
      if (!data){
        container.classList.add("hidden");
        return
      }
      container.classList.remove("hidden");

      let ejeX = []
      let serieGC = []
      let serieForecast = []

      for (let e of data){
        ejeX.push(e["month"])
        serieGC.push(!!e["SUBTOTAL_GC_MEAN"]? e["SUBTOTAL_GC_MEAN"] : '')
        serieForecast.push(!!e["forecast_year"]? e["forecast_year"] : '')
      }

      let option = {
        title: {
          text: 'Predicciones de 12 meses',
          left: 'center'
        },
        legend: {
          data: ['Serie', 'Prediccion'],
          right: "0%",
        },
        dataZoom: [
          {
            type: 'inside',
            start: 50,
            end: 100
          },
          {
            start: 50,
            end: 100
          }
        ],
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          //formatter: '<strong>{b0}</strong><br/>{c0} UF'
          valueFormatter: formatFloat,
          // valueFormatter: null,
        },
        xAxis: {
          type: 'category',
          data: ejeX,
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            formatter: '{value} UF'
          }
        },
        series: [
          {
            data: serieGC,
            type: 'line',
            name: 'Serie',
          },
          {
            data: serieForecast,
            type: 'line',
            name: 'Prediccion',
          }
        ]
      };

      echartObject.setOption(option);
      echartObject.resize();
    }

    function showPredict(predict){

      let contresult = document.getElementById('cont-result')
      contresult.classList.remove("hidden");
      contresult.scrollIntoView({
        behavior: 'smooth'
      });
      // window.scrollTo(contresult.offsetLeft,contresult.offsetTop);

      let oneCluster = predict.oneCluster
      let twoCluster = predict.twoCluster
      // 1 claster
      document.getElementById("EDI_DEP_CLUSTER").innerHTML = oneCluster.EDI_DEP_CLUSTER
      document.getElementById("EDI_DEP_GC_MEAN").innerHTML = getGcMean(oneCluster.gc_mean)
      processTableMonth('EDI_DEP_TABLE_MONTH', oneCluster.gc_month)
      processGraf('graf-clust-1', grafClust1, oneCluster.forecast)

      // 2 claster
      document.getElementById("EDI_CLUSTER").innerHTML = twoCluster.EDI_CLUSTER
      document.getElementById("DEP_CLUSTER").innerHTML = twoCluster.DEP_CLUSTER
      document.getElementById("GC_MEAN").innerHTML = getGcMean(twoCluster.gc_mean)
      processTableMonth('TABLE_MONTH', twoCluster.gc_month)
      processGraf('graf-clust-2', grafClust2, twoCluster.forecast)


    }

    function processForm(e) {
        if (e.preventDefault) e.preventDefault();

        /* do what you want with the form */
        let formData = new FormData(e.target);

        //Deteccion de Vacio y si coloco una imagen, ver si este se ha respondido.
        // Nota cuando hay una pregunta con foto pero sin respuesta se corta la validacion.
        const dataValues = Object.fromEntries(formData.entries());

        // Estado loading
        setLoading()
        postData('/predict', {data:preprocessData(dataValues)})
          .then((data) => {
            console.log(data); // JSON data parsed by `data.json()` call
            showPredict(data.predict)
          })
          .catch((e) => {
            console.error(e); // JSON data parsed by `data.json()` call
          })
          .finally(()=>{
            console.log('OK')
            endLoading()
          })

        // You must return false to prevent the default form behavior
        return false;
    }

    var form = document.getElementById('form-predict');
    if (form.attachEvent) {
        form.attachEvent("submit", processForm);
    } else {
        form.addEventListener("submit", processForm);
    }
  </script>


  <script type="text/javascript">
    // A $( document ).ready() block.
    $( document ).ready(function() {
        console.log( "ready!" );
    });
    var grafClust1 = echarts.init( document.getElementById('graf-clust-1') , null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var optionClust1;

    optionClust1 = {
      title: {
        text: 'Predicciones de 12 meses',
        left: 'center'
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross'
        },
        //formatter: '<strong>{b0}</strong><br/>{c0} UF'
        valueFormatter: (value) => value.toFixed(2) + ' UF'
      },
      xAxis: {
        type: 'category',
        data: ['2022-12', '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06']
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          formatter: '{value} UF'
        }
      },
      series: [
        {
          data: [150, 230, 224, 218, 135, 147, 100],
          type: 'line'
        }
      ]
    };

    if (optionClust1 && typeof optionClust1 === 'object') {
      grafClust1.setOption(optionClust1);
    }

    window.addEventListener('resize', grafClust1.resize);

    var grafClust2 = echarts.init( document.getElementById('graf-clust-2') , null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var optionClust2;

    optionClust2 = {
      title: {
        text: 'Predicciones de 12 meses',
        left: 'center'
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross'
        },
        //formatter: '<strong>{b0}</strong><br/>{c0} UF'
        valueFormatter: (value) => value.toFixed(2) + ' UF'
      },
      xAxis: {
        type: 'category',
        data: ['2022-12', '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06']
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          formatter: '{value} UF'
        }
      },
      series: [
        {
          data: [150, 230, 224, 218, 135, 147, 300],
          type: 'line'
        }
      ]
    };

    if (optionClust2 && typeof optionClust2 === 'object') {
      grafClust2.setOption(optionClust2);
    }

    window.addEventListener('resize', grafClust2.resize);

  </script>

</body>
</html>