<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="font-bold">Taller de Aplicaciones 2</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
</head>
<body>
  <div class="navbar min-h-min sticky z-[300] inset-x-0 top-0 shadow-lg bg-neutral text-neutral-content rounded-none ">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-sm btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral text-neutral-content rounded-box w-52">
          <li><a>Homepage</a></li>
          <li><a>Portfolio</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <p class="btn btn-ghost btn-sm normal-case text-xl">daisyUI</p>
    </div>
    <div class="navbar-end">
      <button class="btn btn-ghost btn-sm btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
      </button>
      <button class="btn btn-ghost btn-sm btn-circle">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      </button>
    </div>
  </div>


  <div class="hero-content w-full m-auto bg-white shadow-lg items-start block mt-1">
    <div id="chart-container" class="h-96 w-full"></div>
  </div>

  <div class="hero-content w-full m-auto bg-white shadow-lg items-start block mt-1">

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Get in touch</h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
    </div>
    <!-- text - end -->

    <!-- form - start -->
    <form class="max-w-screen-md grid sm:grid-cols-2 gap-4 mx-auto">
      <div>
        <label for="first-name" class="inline-block text-gray-800 text-sm sm:text-base mb-2">First name*</label>
        <input name="first-name" class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
      </div>

      <div>
        <label for="last-name" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Last name*</label>
        <input name="last-name" class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
      </div>

      <div class="sm:col-span-2">
        <label for="company" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Company</label>
        <input name="company" class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
      </div>

      <div class="sm:col-span-2">
        <label for="email" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Email*</label>
        <input name="email" class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
      </div>

      <div class="sm:col-span-2">
        <label for="subject" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Subject*</label>
        <input name="subject" class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
      </div>

      <div class="sm:col-span-2">
        <label for="message" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Message*</label>
        <textarea name="message" class="w-full h-64 bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2"></textarea>
      </div>

      <div class="sm:col-span-2 flex justify-between items-center">
        <button class="inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Send</button>

        <span class="text-gray-500 text-sm">*Required</span>
      </div>

      <p class="text-gray-400 text-xs">By signing up to our newsletter you agree to our <a href="#" class="hover:text-indigo-500 active:text-indigo-600 underline transition duration-100">Privacy Policy</a>.</p>
    </form>
    <!-- form - end -->
  </div>
</div>


  </div>

  <div class="hero-content w-full m-auto bg-white shadow-lg items-start block mt-1">

    <div class="tabs">
      <a class="tab tab-lifted">Normal</a> 
      <a class="tab tab-lifted tab-active">Normal</a> 
      <a class="tab tab-lifted">Normal</a>
    </div>

    <div class="bg-base-300 rounded-b-box rounded-tr-box relative overflow-x-auto min-h-[6rem]">
       <div class="preview border-base-300 bg-base-200 rounded-b-box rounded-tr-box flex min-h-[6rem] flex-wrap items-center justify-center gap-2 overflow-x-hidden border bg-cover bg-top p-4 undefined hidden" style="background-size: 5px 5px">
          <div class="flex flex-col items-center gap-6">
             <div class="tabs"><a class="tab tab-xs tab-lifted">Tiny</a> <a class="tab tab-xs tab-lifted tab-active">Tiny</a> <a class="tab tab-xs tab-lifted">Tiny</a></div>
             <div class="tabs"><a class="tab tab-sm tab-lifted">Small</a> <a class="tab tab-sm tab-lifted tab-active">Small</a> <a class="tab tab-sm tab-lifted">Small</a></div>
             <div class="tabs"><a class="tab tab-lifted">Normal</a> <a class="tab tab-lifted tab-active">Normal</a> <a class="tab tab-lifted">Normal</a></div>
             <div class="tabs"><a class="tab tab-lg tab-lifted">Large</a> <a class="tab tab-lg tab-lifted tab-active">Large</a> <a class="tab tab-lg tab-lifted">Large</a></div>
          </div>
       </div>
    </div>

  </div>

  <div class="hero-content w-full m-auto bg-white shadow-lg items-start block mt-1">

    <div class="overflow-x-auto">
      <table class="table table-compact w-full">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Job</th>
            <th>Favorite Color</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <th>1</th>
            <td>Cy Ganderton</td>
            <td>Quality Control Specialist</td>
            <td>Blue</td>
          </tr>
          <!-- row 2 -->
          <tr class="active">
            <th>2</th>
            <td>Hart Hagerty</td>
            <td>Desktop Support Technician</td>
            <td>Purple</td>
          </tr>
          <!-- row 3 -->
          <tr>
            <th>3</th>
            <td>Brice Swyre</td>
            <td>Tax Accountant</td>
            <td>Red</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>




  <div class="h-screen flex flex-col items-center justify-center">
    <p class="text-green-700 text-xl mb-3">
      Análisis de sentimiento
    </p>
    <div class="form-control w-full max-w-xs">
      <form class="w-full" id="form-predict">
        <label class="label">
          <span class="label-text">Comentario <span class="label-text-alt text-red-700">(en inglés)</span> </span>
        </label>
        <input type="text" name="text" placeholder="Type here" required class="input input-bordered w-full max-w-xs" id="input-text" />
        <button id="button-submit" type="submit" class="mt-3 btn flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded w-full" type="button">
          Predecir sentimiento
        </button>
      <form/>
    </div>


  <div />
  <div class="mt-5 loading" id="result" style="display:none">
    <p class="text-green-700 text-xl mb-3">
      Última predicción
    </p>
    <p class="text-green-700 text-xl mb-3 text-center font-bold" id="result-text">
      Resultado
    </p>

    <label class="swap swap-flip swap-indeterminate pointer-events-none">
      
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" id="result-check"/>
      
      <!-- sun icon -->
      <svg class="swap-on fill-current w-40 h-40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490">
        <circle cx="157.651" cy="175.289" r="42.642"/>
        <circle cx="332.349" cy="175.289" r="42.642"/>
        <path d="M119.375,325.465c0.837,0.613,56.644,41.466,130.53,41.466c37.205,0,79.015-10.363,120.691-41.452l-18.303-24.554   c-105.857,78.955-210.188,3.26-214.584,0L119.375,325.465z"/>
        <path d="M69.086,490h351.829C459.001,490,490,459.001,490,420.914V69.086C490,30.991,459.001,0,420.914,0H69.086   C30.999,0,0,30.991,0,69.086v351.829C0,459.001,30.999,490,69.086,490z M30.625,69.086c0-21.204,17.257-38.461,38.461-38.461   h351.829c21.204,0,38.461,17.257,38.461,38.461v351.829c0,21.204-17.257,38.461-38.461,38.461H69.086   c-21.204,0-38.461-17.257-38.461-38.461V69.086z"/>
      </svg>

      <!-- moon icon -->
      <svg class="swap-off fill-current w-40 h-40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490">
        <path d="M119.39,340.015l18.333,24.539c4.411-3.26,108.773-78.91,214.584,0L370.61,340   C246.211,247.183,120.646,339.088,119.39,340.015z"/>
        <path d="M159.744,236.096c23.55,0,42.642-19.092,42.642-42.642c0-10.461-3.913-19.915-10.164-27.334h29.405v-30.625H97.856v30.625   h29.409c-6.251,7.419-10.164,16.873-10.164,27.334C117.102,217.004,136.194,236.096,159.744,236.096z"/>
        <path d="M268.372,166.12h31.504c-6.251,7.419-10.164,16.873-10.164,27.334c0,23.55,19.091,42.642,42.642,42.642   c23.55,0,42.641-19.092,42.641-42.642c0-10.461-3.913-19.915-10.164-27.334h27.327v-30.625H268.372V166.12z"/>
        <path d="M420.914,0H69.086C30.999,0,0,30.999,0,69.086v351.829C0,459.001,30.999,490,69.086,490h351.829   C459.001,490,490,459.001,490,420.914V69.086C490,30.999,459.001,0,420.914,0z M459.375,420.914   c0,21.204-17.257,38.461-38.461,38.461H69.086c-21.204,0-38.461-17.257-38.461-38.461V69.086c0-21.204,17.256-38.461,38.461-38.461   h351.829c21.204,0,38.461,17.257,38.461,38.461V420.914z"/>
      </svg>
    </label>
  </div>

  <script>
    // Example POST method implementation:
    async function postData(url = '', data = {}) {
      // Default options are marked with *
      const response = await fetch(url, {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, *cors, same-origin
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        credentials: 'same-origin', // include, *same-origin, omit
        headers: {
          'Content-Type': 'application/json'
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: 'follow', // manual, *follow, error
        referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data) // body data type must match "Content-Type" header
      });
      return response.json(); // parses JSON response into native JavaScript objects
    }

    function setLoading(){
      document.getElementById('input-text').disabled = true
      document.getElementById('button-submit').disabled = true
      document.getElementById("button-submit").innerHTML = 'Prediciendo ...'
      document.getElementById("button-submit").classList.add("loading");
    }

    function endLoading(){
      document.getElementById('input-text').disabled = false
      document.getElementById('button-submit').disabled = false
      document.getElementById("button-submit").innerHTML = 'Predecir sentimiento'
      document.getElementById("button-submit").classList.remove("loading");
    }

    function showPredict(positive=false){
      document.getElementById("result-text").innerHTML = !!positive? 'Positivo' : 'Negativo'
      document.getElementById("result-text").classList.remove("text-green-700");
      document.getElementById("result-text").classList.remove("text-red-700");
      document.getElementById("result-text").classList.add(!!positive? 'text-green-700' : 'text-red-700');
      document.getElementById("result-check").checked = positive
      document.getElementById("result").style.display = ''
    }

    function processForm(e) {
        if (e.preventDefault) e.preventDefault();

        /* do what you want with the form */
        let formData = new FormData(e.target);

        //Deteccion de Vacio y si coloco una imagen, ver si este se ha respondido.
        // Nota cuando hay una pregunta con foto pero sin respuesta se corta la validacion.
        const dataValues = Object.fromEntries(formData.entries());
        console.log({dataValues})

        // Estado loading
        setLoading()
        postData('/predict', dataValues)
          .then((data) => {
            console.log(data); // JSON data parsed by `data.json()` call
            showPredict(data.predict !== 'Negative')
          })
          .catch((e) => {
            console.error(e); // JSON data parsed by `data.json()` call
          })
          .finally(()=>{
            console.log('OK')
            endLoading()
          })

        // You must return false to prevent the default form behavior
        return false;
    }

    var form = document.getElementById('form-predict');
    if (form.attachEvent) {
        form.attachEvent("submit", processForm);
    } else {
        form.addEventListener("submit", processForm);
    }
  </script>


  <script type="text/javascript">
    // A $( document ).ready() block.
    $( document ).ready(function() {
        console.log( "ready!" );
    });
    var dom = document.getElementById('chart-container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    console.log({myChart})
    var app = {};

    var option;

    option = {
      xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          data: [150, 230, 224, 218, 135, 147, 260],
          type: 'line'
        }
      ]
    };

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);

  </script>

</body>
</html>